<mat-form-field>
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
</mat-form-field>

<div style="overflow:auto">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listdata" matSort>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

            <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.employeeId)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="EmployeeID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>EmployeeID</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.employeeId}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="EmployeeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>DepartmentName</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.employeeName}}</mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="PhoneNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>PhoneNumber</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.phoneNumber}}</mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="MailID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>MailID</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.mailId}}</mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="Address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.address}}</mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="Department">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.department}}</mat-header-cell>
            </ng-container>
        </mat-table>

    </div>
</div>
<button class="mt-2" mat-raised-button color="primary" (click)="onAdd()">Add Department</button>