<div class="d-flex justify-content-between m-3" >
    <h4>Edit Designation</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto;height:450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">CustomerID</span>
            </div>
            <input required minlength="2" type="text" class="form-control" placeholder="Enter the CustomerID" 
            name="customerId" #customerId="ngModel" [(ngModel)]="service.formData.CustomerID"> 
        </div>


        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Customer Name</span>
            </div>
            <input redonly="readonly" type="text" class="form-control" 
            name="customerName" #customerName="ngModel" [(ngModel)]="service.formData.CustomerName"> 
        </div>
        <div class="text-left text-danger" *ngIf="customerName.invalid && customerName.touched">
            Please Enter Customer Name
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Phone</span>
            </div>
            <input redonly="readonly" type="text" class="form-control" 
            name="phone" #phone="ngModel" [(ngModel)]="service.formData.Phone"> 
        </div>
        <div class="text-left text-danger" *ngIf="phone.invalid && phone.touched">
            Please Enter Phone
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Address</span>
            </div>
            <input redonly="readonly" type="text" class="form-control" 
            name="address" #address="ngModel" [(ngModel)]="service.formData.Address"> 
        </div>
        <div class="text-left text-danger" *ngIf="address.invalid && address.touched">
            Please Enter Address
        </div>


        <div>
            <button class="m-3" mat-raised-button color="priamry" type="submit"
            [disabled]="form.invalid">
                Update Customer
            </button>
        </div>
    </form>
</div>
