<div class="d-flex justify-content-between m-3" >
    <h4>Edit Designation</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto;height:450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DesignationName</span>
            </div>
            <input required minlength="2" type="text" class="form-control" placeholder="Enter the DesignationName" 
            name="designationName" #designationName="ngModel" [(ngModel)]="service.formData.DesignationName"> 
        </div>
        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Role Name</span>
            </div>
            <input redonly="readonly" type="text" class="form-control" 
            name="roleName" #roleName="ngModel" [(ngModel)]="service.formData.RoleName"> 
        </div>
        <div class="text-left text-danger" *ngIf="roleName.invalid && roleName.touched">
            Please Enter Employee Name
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department</span>
            </div>
            <input redonly="readonly" type="text" class="form-control" 
            name="department" #department="ngModel" [(ngModel)]="service.formData.Department"> 
        </div>
        <div class="text-left text-danger" *ngIf="department.invalid && department.touched">
            Please Enter Department
        </div>


        <div>
            <button class="m-3" mat-raised-button color="priamry" type="submit"
            [disabled]="form.invalid">
                Update Designation
            </button>
        </div>
    </form>
</div>
